
.mantine-DateInput-calendarHeaderControlIcon {
  width: 50%;
  height: 50%;
  display: block;
}

.mantine-DateInput-calendarHeaderControl {
  width: 50px !important;
  height: 40px !important;
  display: flex;
}
