
.mantine-DateInput-calendarHeaderControlIcon {
  width: 50%;
  height: 50%;
  display: block;
}

.mantine-DateInput-calendarHeaderControl {
  width: 50px !important;
  height: 40px !important;
  display: flex;
}
.mantine-DatePickerInput-levelsGroup{
  width: 200px !important;
  height: 300px !important;
  display: flex;
}
.mantine-DatePickerInput-calendarHeaderControlIcon{
  width: 10% !important;
  height: 10% !important;
  display: block;
}
